body{
  margin:0px;
  overflow:hidden;
  height:100vh;
  width:100vw;
}

.ic-content {
  overflow: hidden;
  width:100vw;
  height:100vh;
  .main-container {
    height:100%;
    width:100%;
  }
}
// Outer styling
.mdc-toolbar__row{
  background-color:#3367D6;
}

.mdc-drawer a {
  color:#CCC!important;
}
