//Font
body {
  margin:0;
  * {
    font-family:"Roboto", sans-serif;
  }
}
a {
  text-decoration:none;
  &:focus, &:focus *{
    background-color:inherit;
    color:inherit;
    fill:inherit;
  }
}

$color-blue:#4385F4;
$color-content-bg:#F5F5F5;
$color-text-gray-1:#616161;
